SECRET_KEY=
DEBUG=

DB_NAME=test
DB_USER=test
DB_PASSWORD=test
DB_HOST=localhost
DB_PORT=5432

EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=
EMAIL_USE_SSL=

LOCATION=redis://localhost:6379/0